<%- include('../../includes/top-with-style.ejs') %>
  <!-- END: Theme CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  " data-open="click"
    data-menu="horizontal-menu" data-col="2-columns">

    <!-- BEGIN: top nav-->
    <%- include('../../includes/top-nav.ejs') %>
      <!-- END: top nav-->


      <!-- BEGIN: Main Menu-->
      <%- include('../../includes/main-menu.ejs') %>

        <!-- END: Main Menu-->
        <!-- BEGIN: Content-->
        <div class="app-content container center-layout mt-2">
          <div class="content-overlay"></div>
          <div class="content-wrapper">

            <div class="content-header row">
              <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">
                  <%= user ? 'Edit' : 'Add' %> User
                </h3>
                <div class="row breadcrumbs-top">
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <%= user ? 'Edit' : 'Add' %> User
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-md-3"></div>
              <div class="col-md-6">

                <h3 class="form-section">
                  <%= user ? 'Edit' : 'Add' %> User
                </h3>
                <div class="card">

                  <div class="card-content collapse show">
                    <div class="card-body">

                      <div style="margin-left: 1em; margin-right: 1em;">
                        <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <%- error.msg %>
                            </div>
                            <% }) %>
                              <% } %>

                                <%if (errorMessage) { %>
                                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <%- errorMessage %>
                                  </div>
                                  <% } %>
                                    <%if (successMessage) { %>
                                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%- successMessage %>
                                      </div>
                                      <% } %>
                      </div>

                      <form class="form"
                        action="<% if (user) { %>/user/edit/<%= user.userId %><% } else { %>/user/add<% } %>"
                        method="POST" novalidate>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-body">

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="userinput1">First Name</label>
                              <input type="text" class="form-control border-primary" placeholder="First Name"
                                name="firstName" value="<%= user ? user.firstName : '' %>">
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="userinput1">Middle Name</label>
                              <input type="text" class="form-control border-primary" placeholder="Middle Name"
                                name="middleName" value="<%= user ? user.middleName : '' %>" required>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="userinput1">Last Name</label>
                              <input type="text" class="form-control border-primary" placeholder="Last Name"
                                name="lastName" value="<%= user ? user.lastName : '' %>" required>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="userinput1">Phone Number</label>
                              <input type="text" class="form-control border-primary" placeholder="Phone Number"
                                name="phoneNumber" value="<%= user ? user.phoneNumber : '' %>" required>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="userinput1">Email</label>
                              <input type="text" class="form-control border-primary" placeholder="Email" name="email"
                                value="<%= user ? user.email : '' %>" required>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="roleSelect">Select Role</label>
                              <select class="form-control" id="roleSelect" name="role">
                                <%if (admin.role==='superuser' ) { %>
                                  <option value="super-admin" <%=role==='super-admin' ? 'selected' : '' %>>Super Admin
                                  </option>
                                  <option value="compliance" <%=role==='compliance' ? 'selected' : '' %>>Compliance
                                  </option>
                                  <option value="finance" <%=role==='finance' ? 'selected' : '' %>>Finance</option>
                                  <option value="treasury" <%=role==='treasury' ? 'selected' : '' %>>Treasury</option>
                                 <% } %>
                                    <option value="admin" <%=role==='admin' ? 'selected' : '' %>>Admin</option>
                                    <option value="hr" <%=role==='hr' ? 'selected' : '' %>>HR</option>
                              </select>
                            </div>
                          </div>


                        </div>

                        <div class="form-actions text-right">
                          <button type="reset" class="btn btn-warning mr-1">
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-primary">
                            <i class="la la-check-square-o"></i>
                            <%= user ? 'Edit' : 'Add' %>
                          </button>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>

            </div>

          </div>
        </div>
        <br /><br /><br />
        <!-- END: Content-->


        <div class="sidenav-overlay"></div>
        <div class="drag-target"></div>

        <!-- BEGIN: Footer-->
        <%- include('../../includes/footer.ejs') %>
          <!-- END: Footer-->

          <!--template script starts-->

          <!--template script end-->
          <%- include('../../includes/down-with-script.ejs') %>