<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="application_icons_co"></span></span>
                    <h3>Regions</h3>
                    <div class="top_search">
                        <form action="#" method="post">
                            <ul id="search_box">
                                <div class="btn_30_dark">
                                    <a href="javascript::void(0)" data-toggle="modal" data-target="#openRegion"><span
                                            class="icon add_co"></span><span class="btn_link">Add Region</span></a>
                                </div>
                            </ul>
                        </form>
                    </div>
                </div>

                <div id="content">
                    <div class="grid_container">

                        <div class="grid_12">
                            <div class="widget_wrap">
                                <div class="widget_top">
                                    <span class="h_icon blocks_images"></span>
                                    <h6>Regions</h6>
                                </div>
                                <div class="widget_content">
                                    <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- error.msg %>
                                                </p>
                                            </blockquote>
                                            <% }) %>
                                                <% } %>

                                                    <%if (errorMessage) { %>
                                                        <blockquote class="quote_orange">
                                                            <p>
                                                                <%- errorMessage %>
                                                            </p>
                                                        </blockquote>
                                                        <% } %>


                                                            <%if (successMessage) { %>
                                                                <blockquote class="quote_green">
                                                                    <p>
                                                                        <%- successMessage %>
                                                                    </p>
                                                                </blockquote>
                                                                <% } %>

                                                                    <table class="display data_tbl">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>

                                                                                </th>
                                                                                <th>
                                                                                    Code
                                                                                </th>
                                                                                <th>
                                                                                    Name
                                                                                </th>

                                                                                <th>
                                                                                    Date
                                                                                </th>
                                                                                <th>
                                                                                    Action
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% regions: regions.forEach((item, index)=>
                                                                                { %>
                                                                                <tr>
                                                                                    <td>
                                                                                        <p>
                                                                                            <%= index + 1 %>
                                                                                        </p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= item.code %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= item.name %>
                                                                                    </td>

                                                                                    <td class="center">
                                                                                        <%= shortData(item.createdAt) %>
                                                                                    </td>
                                                                                    <td class="center">

                                                                                        <span>

                                                                                            <a href="javascript:void(0)"
                                                                                                class="action-icons c-edit"
                                                                                                href="#"
                                                                                                title="Edit">Edit</a></span><span>
                                                                                            <a href="../region/delete/<%= item.id %>"
                                                                                                class="action-icons c-delete"
                                                                                                href="#" title="Delete"
                                                                                                onclick="return confirmDeletion(this)">Delete</a>
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                                <% }) %>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <th>

                                                                                </th>
                                                                                <th>
                                                                                    Code
                                                                                </th>
                                                                                <th>
                                                                                    Name
                                                                                </th>

                                                                                <th>
                                                                                    Date
                                                                                </th>
                                                                                <th>
                                                                                    Action
                                                                                </th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="clear"></span>
                </div>
        </div>
    </body>

    <div class="modal fade" id="openRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">

            <form class="form"
                action="<% if (region) { %>/region/edit/<%= region.userId %><% } else { %>/region/add<% } %>"
                method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Region</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-body">
                            <% if (region.code) { %>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="userinput1">Code</label>
                                        <input type="text" class="form-control border-primary" placeholder="Code"
                                            name="code" value="<%= region ? region.code : '' %>">
                                    </div>
                                </div>
                                <% } %>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="userinput1">Region Name</label>
                                            <input type="text" required class="form-control border-primary"
                                                placeholder="Name" name="name" value="<%= region ? region.name : '' %>">
                                        </div>
                                    </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            <%= region ? 'Edit' : 'Add' %>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    </html>