<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Expenses</h3>
                    <div class="top_search">

                        <ul id="search_box">
                            <div class="btn_30_dark">
                                <a href="#" data-toggle="modal" data-target="#addAssignmentModal"><span
                                        class="icon add_co"></span><span class="btn_link">Add
                                        Expense</span></a>
                            </div>
                        </ul>
                    </div>
                </div>

                <div id="content">
                    <div class="grid_container">

                        <div class="grid_12">
                            <div class="widget_wrap">
                                <div class="widget_content">
                                    <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%= error.msg %>
                                                </p>
                                            </blockquote>
                                            <% }) %>
                                                <% } %>
                                                    <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                                            <blockquote class="quote_orange">
                                                                <p>
                                                                    <%- error.msg %>
                                                                </p>
                                                            </blockquote>
                                                            <% }) %>
                                                                <% } %>

                                                                    <%if (errorMessage) { %>
                                                                        <blockquote class="quote_orange">
                                                                            <p>
                                                                                <%- errorMessage %>
                                                                            </p>
                                                                        </blockquote>
                                                                        <% } %>


                                                                            <%if (successMessage) { %>
                                                                                <blockquote class="quote_green">
                                                                                    <p>
                                                                                        <%- successMessage %>
                                                                                    </p>
                                                                                </blockquote>
                                                                                <% } %>

                                                                                    <table class="display data_tbl">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th>
                                                                                                    Title
                                                                                                </th>
                                                                                                <th>
                                                                                                    Amount
                                                                                                </th>
                                                                                                <th>
                                                                                                    Note
                                                                                                </th>

                                                                                                <th>
                                                                                                    Date
                                                                                                </th>
                                                                                                <th>
                                                                                                    Action
                                                                                                </th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <% expenses.forEach((item,
                                                                                                index)=> { %>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= index + 1 %>

                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= item.title
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= 'GHS ' +
                                                                                                            item.amount
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= item.note %>
                                                                                                    </td>
                                                                                                    <td>

                                                                                                        <%= shortData(item.createdAt)
                                                                                                            %>

                                                                                                    </td>
                                                                                                    <td class="center">
                                                                                                        <span>
                                                                                                            <a href="/expense/edit/<%= item._id %>"
                                                                                                                class="action-icons c-edit"
                                                                                                                href="#"
                                                                                                                title="Edit">Edit</a></span><span>
                                                                                                            <a href="/expense/delete/<%= item._id %>"
                                                                                                                class="action-icons c-delete"
                                                                                                                title="Delete"
                                                                                                                onclick="return confirmDeletion(this)">Delete</a>
                                                                                                        </span>
                                                                                                        </span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <% }) %>
                                                                                        </tbody>
                                                                                        <tfoot>
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th>
                                                                                                    Title
                                                                                                </th>
                                                                                                <th>
                                                                                                    Amount
                                                                                                </th>
                                                                                                <th>
                                                                                                    Note
                                                                                                </th>

                                                                                                <th>
                                                                                                    Date
                                                                                                </th>
                                                                                                <th>
                                                                                                    Action
                                                                                                </th>
                                                                                            </tr>
                                                                                        </tfoot>
                                                                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="clear"></span>
                </div>


        </div>
    </body>

    <div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="<% if (expense) { %>/expense/edit/<%= expense._id %><% } else { %>/expense/add<% } %>"
                method="POST" class="form_container left_label">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Add Expense</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Title<span style="color: red">*</span></label>
                                    <div class="form_input">
                                        <div class="form-group">
                                            <input name="title"
                                                value="<%= userInput.title ? userInput.title : (expense ? expense.title : '') %>"
                                                type="text" class="form-control" title="Please enter a title"
                                                required />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Amount <span style="color: red">*</span></label>
                                    <div class="form_input">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input name="amount"
                                                    value="<%= userInput.amount ? userInput.amount : (expense ? expense.amount : '') %>"
                                                    type="number" class="form-control" title="Please enter an amount"
                                                    required />
                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Date</label>
                                    <div class="form_input">
                                        <input name="date"
                                            value="<%= userInput.date ? userInput.date : (expense ? expense.date : '') %>"
                                            type="date" class="form-control"
                                            pattern="(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}"
                                            title="Please select a date in the format MM/DD/YYYY" required />
                                        <span class="clear"></span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Note</label>
                                    <div class="form_input">
                                        <textarea name="note"
                                            value="<%= userInput.note ? userInput.note : (expense ? expense.note : '') %>"
                                            class="input_grow" cols="62" rows="6" tabindex="5"
                                            style="width: auto; height: auto; overflow: hidden;"></textarea>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Expense</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    </html>