<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Job Assignment</h3>

                </div>

                <div id="content">
                    <div class="grid_container">
                        <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                <blockquote class="quote_orange">
                                    <p>
                                        <%- error.msg %>
                                    </p>
                                </blockquote>
                                <% }) %>
                                    <% } %>


                                        <%if (errorMessage) { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- errorMessage %>
                                                </p>
                                            </blockquote>
                                            <% } %>


                                                <%if (successMessage) { %>
                                                    <blockquote class="quote_green">
                                                        <p>
                                                            <%- successMessage %>
                                                        </p>
                                                    </blockquote>
                                                    <% } %>

                                                        <div class="grid_12 full_block">
                                                            <form action="/sort/qr-code" method="POST"
                                                                class="form_container left_label">

                                                                <input type="hidden" name="_csrf"
                                                                    value="<%= csrfToken %>">

                                                                <div class="widget_wrap">
                                                                    <div class="widget_top">
                                                                        <span class="h_icon list_image"></span>
                                                                        <h6>Sort QR Codes</h6>
                                                                    </div>
                                                                    <div class="widget_content">
                                                                        <ul>

                                                                            <li>
                                                                                <div class="form_grid_12">
                                                                                    <label class="field_title">Start
                                                                                        Date/Time</label>
                                                                                    <div class="form_grid_12">
                                                                                        <div class="form_input">
                                                                                            <div
                                                                                                class=" form_grid_9 alpha">
                                                                                                <input name="startDate"
                                                                                                    value="<%=  userInput.startDate ? userInput.startDate : '' %>"
                                                                                                    type="date"
                                                                                                    class="form-control"
                                                                                                    pattern="(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}"
                                                                                                    title="Please enter a date in the format MM/DD/YYYY"
                                                                                                    required />
                                                                                                <span
                                                                                                    class=" label_intro">Date</span>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                            </li>

                                                                            <li>
                                                                                <div class="form_grid_12">
                                                                                    <label class="field_title">End
                                                                                        Date/Time</label>
                                                                                    <div class="form_grid_12">
                                                                                        <div class="form_input">
                                                                                            <div
                                                                                                class=" form_grid_9 alpha">
                                                                                                <input name="endDate"
                                                                                                    value="<%=  userInput.endDate ? userInput.endDate : '' %>"
                                                                                                    type="date"
                                                                                                    class="form-control"
                                                                                                    pattern="(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}"
                                                                                                    title="Please enter a date in the format MM/DD/YYYY"
                                                                                                    required />
                                                                                                <span
                                                                                                    class=" label_intro">Date</span>
                                                                                            </div>
                                                                                            <span class="clear"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="form_grid_12">
                                                                                        <div class="form_input">
                                                                                            <button type="submit"
                                                                                                class="btn_small btn_blue">
                                                                                                Submit
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                    </div>
                                                                </div>
                                                                <span class="clear"></span>
                                                            </form>
                                                        </div>

                    </div>



                </div>

                <%if (searchResults) { %>
                    <div class="content" style="margin-top: -28em !important;">
                        <%if (errors.length> 0) { %>
                            <% errors.forEach(error=> { %>
                                <blockquote class="quote_orange">
                                    <p>
                                        <%- error.msg %>
                                    </p>
                                </blockquote>
                                <% }) %>
                                    <% } %>
                                        <div style="margin: 3em;">
                                            <div class="widget_wrap tabby">

                                                <div class="widget_content">

                                                    <div id="tab1">
                                                        <div id="content">
                                                            <div class="grid_container">

                                                                <div class="grid_12">
                                                                    <div class="widget_wrap">
                                                                        <div class="widget_content">
                                                                            <form action="/sort/qr-code/preview"
                                                                                method="POST"
                                                                                class="form_container left_label">
                                                                                <input type="hidden" name="dustbins"
                                                                                    value="<%= dustbinsIds %>">
                                                                                    <input type="hidden" name="_csrf"
                                                                                    value="<%= csrfToken %>">
                                                                                <ul style="float: right;">
                                                                                    <li>
                                                                                        <div class="form_grid_12">
                                                                                            <div class="form_input">
                                                                                                <button type="submit"
                                                                                                    class="btn_small btn_orange">
                                                                                                    Preview
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </form>

                                                                            <table class="display data_tbl">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Owner
                                                                                        </th>
                                                                                        <th>
                                                                                            Contact
                                                                                        </th>
                                                                                        <th>
                                                                                            Barcode
                                                                                        </th>

                                                                                        <th>
                                                                                            Location
                                                                                        </th>


                                                                                        <th>
                                                                                            Date
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% dustbins.forEach((item, index)=>
                                                                                        { %>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <%= item.owner.firstName
                                                                                                    + ' '
                                                                                                    +item.owner.middleName
                                                                                                    + ' '
                                                                                                    +item.owner.lastName
                                                                                                    %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%= item.owner.phoneNumber
                                                                                                    %>
                                                                                            </td>
                                                                                            <td style="width: 300px;">
                                                                                                <img style="height:100px"
                                                                                                    src="../../../barcodes/<%= item.barcode +'.png' %>">
                                                                                            </td>

                                                                                            <td
                                                                                                style="width: 130px; text-align: left;">
                                                                                                <%= item.location.address
                                                                                                    %>
                                                                                            </td>


                                                                                            <td class="center">
                                                                                                <%= shortDate(item.createdAt)
                                                                                                    %>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <% }) %>

                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Owner
                                                                                        </th>
                                                                                        <th>
                                                                                            Contact
                                                                                        </th>
                                                                                        <th>
                                                                                            Barcode
                                                                                        </th>

                                                                                        <th>
                                                                                            Location
                                                                                        </th>


                                                                                        <th>
                                                                                            Date
                                                                                        </th>
                                                                                    </tr>

                                                                                </tfoot>
                                                                            </table>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <span class="clear"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                    </div>
                    <% } %>

        </div>

        </div>
        <span class="clear"></span>
        </div>



        </div>
    </body>

    </div>

    </html>