<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Vehicle Assignments</h3>
                    <div class="top_search">
                        <form action="#" method="post">
                            <ul id="search_box">
                                <div class="btn_30_dark">
                                    <a href="#" data-toggle="modal" data-target="#addAssignmentModal"><span
                                            class="icon add_co"></span><span class="btn_link">Add
                                            Assignment</span></a>
                                </div>
                            </ul>
                        </form>
                    </div>
                </div>

                <div id="content">
                    <div class="grid_container">

                        <div class="grid_12">
                            <div class="widget_wrap">
                                <div class="widget_content">
                                     <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%= error.msg %>
                                                </p>
                                            </blockquote>
                                            <% }) %>
                                                <% } %>
                                    <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- error.msg %>
                                                </p>
                                            </blockquote>
                                            <% }) %>
                                                <% } %>

                                                    <%if (errorMessage) { %>
                                                        <blockquote class="quote_orange">
                                                            <p>
                                                                <%- errorMessage %>
                                                            </p>
                                                        </blockquote>
                                                        <% } %>


                                                            <%if (successMessage) { %>
                                                                <blockquote class="quote_green">
                                                                    <p>
                                                                        <%- successMessage %>
                                                                    </p>
                                                                </blockquote>
                                                                <% } %>

                                                                    <table class="display data_tbl">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Vehicle
                                                                                </th>
                                                                                <th>
                                                                                    Supervisor
                                                                                </th>
                                                                                <th>
                                                                                    Duration
                                                                                </th>

                                                                                <th>
                                                                                    Action
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% assignments.forEach((item, index)=> { %>
                                                                                <tr>
                                                                                    <td>
                                                                                        <%= item.vehicle.vehicleId + ' [' + item.vehicle.year +' '+item.vehicle.make +' '+ item.vehicle.model + ' ]'  %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <strong> <%= item.supervisor.firstName + ' '+item.supervisor.middleName + ' '+item.supervisor.lastName %></strong> 
                                                                                        
                                                                                    </td>
                                                                                    <td>
                                                                              
                                                                                        <%= cuteDate(item.startDate) + ' '+item.startTime + ' - ' + cuteDate(item.endDate) + ' '+item.endTime %> 
                                                                                        
                                                                                    </td>
                                                                                    <td class="center">
                                                                                        <span>
                                                                                            <a href="javascript::void(0)"
                                                                                                class="action-icons c-edit"
                                                                                                href="#"
                                                                                                title="Edit">Edit</a></span><span>
                                                                                            <a href="javascript::void(0)"
                                                                                                class="action-icons c-delete" title="Delete">Delete</a>
                                                                                            </span>
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                                <% }) %>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <th>
                                                                                    Vehicle
                                                                                </th>
                                                                                <th>
                                                                                    Supervisor
                                                                                </th>
                                                                                <th>
                                                                                    Duration
                                                                                </th>

                                                                                <th>
                                                                                    Action
                                                                                </th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="clear"></span>
                </div>


        </div>
    </body>

    <div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form
                action="<% if (assignment) { %>/assignment/edit/<%= assignment.id %><% } else { %>/vehicle/assignments<% } %>"
                method="POST" class="form_container left_label">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Add Assignment</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Assign Vehicle <span
                                            style="color: red">*</span></label>
                                    <div class="form_input">
                                        <div class="form-group">

                                            <select class="form-control" name="vehicle" required>
                                                <option value="">Please Select</option>
                                                <% vehicles.forEach(item=> { %>

                                                    <option value="<%= item._id %>" <%=vehicle===item._id
                                                        ? 'selected' : '' %>>
                                                        <%= item.name + ' ' + '[' + item.year + ' ' + item.make + ' ' +
                                                            item.model + ']' %>
                                                    </option>
                                                    <% }); %>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Supervisor <span style="color: red">*</span></label>
                                    <div class="form_input">
                                        <div class="form-group">
                                            <select class="form-control" name="supervisor" required>
                                                <option value="">Please Select</option>
                                                <% operators.forEach(item=>
                                                    {
                                                    %>
                                                    <option value="<%= item._id %>" <%=vehicle===item._id
                                                        ? 'selected' : '' %>>
                                                        <%= item.firstName + ' ' +item.middleName + ' ' +item.lastName
                                                            %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Start Date/Time</label>
                                    <div class="form_input">
                                        <div class=" form_grid_8 alpha">
                                            <input name="startDate" value="<%= userInput.startDate ? userInput.startDate: '' %>" type="date" class="form-control"
                                                pattern="(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}"
                                                title="Please enter a date in the format MM/DD/YYYY" />
                                            <span class=" label_intro">Date</span>
                                        </div>
                                        <div class=" form_grid_4" style="margin-top: 0.1em;">
                                            <input name="startTime" value="<%= userInput.startTime ? userInput.startTime: '' %>" type="time" />
                                            <span class=" label_intro">Time</span>
                                        </div>
                                        <span class="clear"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">End Date/Time</label>
                                    <div class="form_input">
                                        <div class=" form_grid_8 alpha">
                                            <input name="endDate"  value="<%= userInput.endDate ? userInput.endDate: '' %>" type="date" class="form-control"  pattern="(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}"
                                            title="Please enter a date in the format MM/DD/YYYY"/>
                                            <span class=" label_intro">Date</span>
                                        </div>
                                        <div class=" form_grid_4" style="margin-top: 0.1em;">
                                            <input name="endTime" value="<%= userInput.endTime ? userInput.endTime: '' %>" type="time" />
                                            <span class=" label_intro">Time</span>
                                        </div>
                                        <span class="clear"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form_grid_12">
                                    <label class="field_title">Add an additional Note</label>
                                    <div class="form_input">
                                        <textarea name="note" value="<%= userInput.note ? userInput.note: '' %>" class="input_grow" cols="62" rows="6" tabindex="5"
                                            style="width: auto; height: auto; overflow: hidden;"></textarea>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Assignment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    </html>