<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Add User</h3>


                </div>


                <div id="content">
                    <div class="grid_container">

                        <div class="grid_12 full_block">
                            <div class="widget_wrap">
                                <div class="widget_top">
                                    <span class="h_icon list"></span>
                                    <h6>User</h6>
                                </div>
                                <div class="widget_content">
                                    <h3>User Information</h3>

                                    <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- error.msg %>
                                                </p>
                                            </blockquote>
                                            <% }) %>
                                                <% } %>


                                                    <%if (errorMessage) { %>
                                                        <blockquote class="quote_orange">
                                                            <p>
                                                                <%- errorMessage %>
                                                            </p>
                                                        </blockquote>
                                                        <% } %>


                                                            <%if (successMessage) { %>
                                                                <blockquote class="quote_green">
                                                                    <p>
                                                                        <%- successMessage %>
                                                                    </p>
                                                                </blockquote>
                                                                <% } %>

                                                                    <form
                                                                        action="<% if (user) { %>/users/edit/<%= user.userId %><% } else { %>/users/add<% } %>"
                                                                        method="POST" class="form_container left_label">

                                                                        <input type="hidden" name="adminId"
                                                                            value="<%= admin.user_id %>">
                                                                        <input type="hidden" name="_csrf"
                                                                            value="<%= csrfToken %>">
                                                                        <ul>
                                                                            <li>
                                                                                <fieldset>
                                                                                    <legend>Personal Information
                                                                                    </legend>
                                                                                    <ul>
                                                                                        <li>
                                                                                            <div class="form_grid_12">
                                                                                                <label
                                                                                                    class="field_title">Name</label>
                                                                                                <div class="form_input">
                                                                                                    <div
                                                                                                        class="form_grid_4 alpha">
                                                                                                        <input
                                                                                                            name="firstName"
                                                                                                            type="text"
                                                                                                            value="<%= user ? user.firstName : '' %>"
                                                                                                            required />
                                                                                                        <span
                                                                                                            class=" label_intro">First
                                                                                                            Name</span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form_grid_4 ">
                                                                                                        <input
                                                                                                            name="middleName"
                                                                                                            value="<%= user ? user.middleName : '' %>"
                                                                                                            type="text" />
                                                                                                        <span
                                                                                                            class=" label_intro">Middle
                                                                                                            Name</span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form_grid_4 ">
                                                                                                        <input
                                                                                                            name="lastName"
                                                                                                            value="<%= user ? user.lastName : '' %>"
                                                                                                            type="text"
                                                                                                            required />
                                                                                                        <span
                                                                                                            class=" label_intro">Last
                                                                                                            Name</span>
                                                                                                    </div>
                                                                                                    <span
                                                                                                        class="clear"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>

                                                                                        <li>
                                                                                            <div
                                                                                                class="form_grid_12 multiline">
                                                                                                <label
                                                                                                    class="field_title">Contact</label>
                                                                                                <div class="form_input">
                                                                                                    <div
                                                                                                        class="form_grid_6 alpha">
                                                                                                        <input
                                                                                                            name="phoneNumber"
                                                                                                            value="<%= user ? user.phoneNumber : '' %>"
                                                                                                            type="text"
                                                                                                            required />
                                                                                                        <span
                                                                                                            class=" label_intro">Phone
                                                                                                            Number</span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form_grid_6">
                                                                                                        <input
                                                                                                            name="email"
                                                                                                            value="<%= user ? user.email : '' %>"
                                                                                                            type="email"
                                                                                                            required />
                                                                                                        <span
                                                                                                            class=" label_intro">Email</span>
                                                                                                    </div>
                                                                                                    <span
                                                                                                        class="clear"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>

                                                                                        <li>
                                                                                            <div
                                                                                                class="form_grid_12 multiline">
                                                                                                <label
                                                                                                    class="field_title">Role/Status</label>
                                                                                                <div class="form_input">
                                                                                                    <div
                                                                                                        class="form_grid_6 alpha">
                                                                                                        <label
                                                                                                            for="role">Role</label>
                                                                                                        <select
                                                                                                            name="role"
                                                                                                            class="form-control"
                                                                                                            required>
                                                                                                            <option
                                                                                                                value="Sales"
                                                                                                                <%=role==='Sales'
                                                                                                                ? 'selected'
                                                                                                                : '' %>
                                                                                                                >Sales
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="Admin"
                                                                                                                <%=role==='Admin'
                                                                                                                ? 'selected'
                                                                                                                : '' %>
                                                                                                                >Admin
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="Super Admin"
                                                                                                                <%=role==='Super Admin'
                                                                                                                ? 'selected'
                                                                                                                : '' %>
                                                                                                                >Super
                                                                                                                Admin
                                                                                                            </option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form_grid_6">
                                                                                                        <label
                                                                                                            for="status">Status</label>
                                                                                                        <select
                                                                                                            name="status"
                                                                                                            class="form-control"
                                                                                                            required>
                                                                                                            <option
                                                                                                                value="Active"
                                                                                                                <%=user.status==='Active'
                                                                                                                ? 'selected'
                                                                                                                : '' %>
                                                                                                                >Active
                                                                                                            </option>
                                                                                                            <option
                                                                                                                value="Inactive"
                                                                                                                <%=user.status==='Inactive'
                                                                                                                ? 'selected'
                                                                                                                : '' %>
                                                                                                                >Inactive
                                                                                                            </option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                    <span
                                                                                                        class="clear"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>

                                                                                        <li>
                                                                                            <div
                                                                                                class="form_grid_12 multiline">
                                                                                                <label
                                                                                                    class="field_title">Password</label>
                                                                                                <div class="form_input">
                                                                                                    <div
                                                                                                        class="form_grid_6 alpha">
                                                                                                        <input
                                                                                                            name="password"
                                                                                                            type="password"
                                                                                                            autocomplete="off"
                                                                                                            <%=user ? ''
                                                                                                            : 'required'
                                                                                                            %> />
                                                                                                        <span
                                                                                                            class=" label_intro">Password</span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form_grid_6">
                                                                                                        <input
                                                                                                            name="confirmPassword"
                                                                                                            type="password"
                                                                                                            autocomplete="off"
                                                                                                            <%=user ? ''
                                                                                                            : 'required'
                                                                                                            %> />
                                                                                                        <span
                                                                                                            class=" label_intro">Confirm
                                                                                                            Password</span>
                                                                                                    </div>
                                                                                                    <span
                                                                                                        class="clear"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>

                                                                                    </ul>
                                                                                </fieldset>
                                                                            </li>

                                                                            <li>
                                                                                <fieldset>
                                                                                    <legend>Permissions</legend>
                                                                                    <% permissions.forEach(permission=>
                                                                                        { %>
                                                                                        <div class="form_grid_3">
                                                                                            <div class="form_input">
                                                                                                <span>
                                                                                                    <div class="checker"
                                                                                                        id="uniform-undefined">
                                                                                                        <span>
                                                                                                            <input
                                                                                                                name="<%- permission.name %>"
                                                                                                                class="checkbox"
                                                                                                                type="checkbox"
                                                                                                                value="<%-permission.name %>"
                                                                                                                style="opacity: 0;"></span>
                                                                                                    </div>
                                                                                                    <label
                                                                                                        class="choice"><%-
                                                                                                            transformWord(permission.name)
                                                                                                            %></label>
                                                                                                </span><span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <% }) %>
                                                                                </fieldset>
                                                                            </li>

                                                                            <li>
                                                                                <fieldset>
                                                                                    <legend>Action</legend>
                                                                                    <div class="form_grid_3">
                                                                                        <div
                                                                                            class="form-group col-md-6">
                                                                                            <div class="checkbox">
                                                                                                <label
                                                                                                    class="checkbox-inline"><input
                                                                                                        type="checkbox"
                                                                                                        name="view"
                                                                                                        value="1"
                                                                                                        class="checkbox-inline"
                                                                                                        checked
                                                                                                        disabled>View</label>
                                                                                            </div>
                                                                                            <div class="checkbox">
                                                                                                <label
                                                                                                    class="checkbox-inline"><input
                                                                                                        type="checkbox"
                                                                                                        name="add"
                                                                                                        value="1"
                                                                                                        class="checkbox-inline">Add</label>
                                                                                            </div>
                                                                                            <div class="checkbox">
                                                                                                <label
                                                                                                    class="checkbox-inline"><input
                                                                                                        type="checkbox"
                                                                                                        name="edit"
                                                                                                        value="1"
                                                                                                        class="checkbox-inline">Edit</label>
                                                                                            </div>
                                                                                            <div class="checkbox">
                                                                                                <label
                                                                                                    class="checkbox-inline"><input
                                                                                                        type="checkbox"
                                                                                                        name="delete"
                                                                                                        value="1"
                                                                                                        class="checkbox-inline">Delete</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </li>


                                                                            </li>
                                                                        </ul>

                                                                        <ul>
                                                                            <li>
                                                                                <div class="form_grid_12">
                                                                                    <div class="form_input">
                                                                                        <button type="submit"
                                                                                            class="btn_small btn_blue"><span>Submit</span></button>
                                                                                        <button type="reset"
                                                                                            class="btn_small btn_orange"><span>Reset</span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="clear"></span>
                </div>

        </div>
    </body>


    </html>