<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Schedule</h3>
                    <div class="top_search">
                        <form action="#" method="post">
                            <ul id="search_box">
                                <div class="btn_30_dark">
                                    <a href="../../../schedule/add"><span class="icon add_co"></span><span
                                            class="btn_link">Add
                                            new schedule</span></a>
                                </div>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class="content">
                    <div style="margin: 3em;">
                        <div class="widget_wrap tabby">
                            <div class="widget_top">
                                <span class="h_icon list"></span>
                                <h6>Schedule</h6>

                            </div>
                            <div class="widget_content">
                                <div id="tab1">
                                    <div id="content">
                                        <div class="grid_container">

                                            <div class="grid_12">
                                                <div class="widget_wrap">
                                                    <div class="widget_content">
                                                        <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                                                <blockquote class="quote_orange">
                                                                    <p>
                                                                        <%- error.msg %>
                                                                    </p>
                                                                </blockquote>
                                                                <% }) %>
                                                                    <% } %>

                                                                        <%if (errorMessage) { %>
                                                                            <blockquote class="quote_orange">
                                                                                <p>
                                                                                    <%- errorMessage %>
                                                                                </p>
                                                                            </blockquote>
                                                                            <% } %>


                                                                                <%if (successMessage) { %>
                                                                                    <blockquote class="quote_green">
                                                                                        <p>
                                                                                            <%- successMessage %>
                                                                                        </p>
                                                                                    </blockquote>
                                                                                    <% } %>

                                                                                        <table class="display data_tbl">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>
                                                                                                        Title
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Start Date
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Frequency
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Location
                                                                                                    </th>

                                                                                                    <th>
                                                                                                        Created By
                                                                                                    </th>

                                                                                                    <th>
                                                                                                        Date
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Action
                                                                                                    </th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <% schedules.forEach((item,
                                                                                                    index)=> { %>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <%= item.title
                                                                                                                %>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <%= shortDate(item.startDate)
                                                                                                                + ' '
                                                                                                                +item.startTime
                                                                                                                %>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <%= item.frequency
                                                                                                                %>
                                                                                                        </td>
                                                                                                
                                                                                                        <td
                                                                                                            class="center">
                                                                                                            <% item.location.forEach((location, index)=> { %>
                                                                                                             <span style="float: left;"> <%= index + 1 %>. <%= location.address %></span><br/>
                                                                                                                <%})%>
                                                                                                           
                                                                                                        </td>
                                                                                                        <td
                                                                                                            class="center">
                                                                                                            <%= item.createdBy.firstName
                                                                                                                +' '+item.createdBy.lastName
                                                                                                            %>
                                                                                                        </td>

                                                                                                        <td
                                                                                                            class="center">
                                                                                                            <%= longDate(item.createdAt)
                                                                                                                %>
                                                                                                        </td>
                                                                                                      
                                                                                                        <td
                                                                                                            class="center">
                                                                                                            <span>
                                                                                                                <a href="../../../team/edit/<%= item._id %>"
                                                                                                                    class="action-icons c-edit"
                                                                                                                    href="#"
                                                                                                                    title="Edit">Edit</a></span><span>
                                                                                                                <a href="../../../team/delete/<%= item.id %>"
                                                                                                                    class="action-icons c-delete"
                                                                                                                    href="#"
                                                                                                                    title="Delete"
                                                                                                                    onclick="return confirmDeletion(this)">Delete</a></span>
                                                                                                            </span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <% }) %>
                                                                                            </tbody>
                                                                                            <tfoot>
                                                                                                <tr>
                                                                                                    <th>
                                                                                                       Title
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Start Date
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Frequency
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Location
                                                                                                    </th>

                                                                                                    <th>
                                                                                                        Created By
                                                                                                    </th>
                                                                                                    
                                                                                                    <th>
                                                                                                        Date
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Action
                                                                                                    </th>
                                                                                                </tr>
                                                                                            </tfoot>
                                                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <span class="clear"></span>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </body>


    </html>