<%- include('../../includes/admin/top-with-style.ejs') %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&libraries=places&callback=initMap"></script>

    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Add User</h3>


                </div>

                <div id="content">


                    <div class="grid_container">
                        <h1 style="margin-left: 16em;">Is the user an individual or a
                            business?</h1>
                        <ul style="margin-top: 1em; ">
                            <li>
                                <div class="form_grid_12">
                                    <div class="form_input">
                                        <span>
                                            <div class="radio"><span class="checked"><input name="onboarding"
                                                        class="radio" type="radio" value="Individual" tabindex="10"
                                                        style="opacity: 0;"></span>
                                            </div>
                                            <label class="choice" style="font-size: 1.5em;">An
                                                Individual</label>
                                        </span><span>
                                            <div class="radio"><span><input name="onboarding" class="radio" type="radio"
                                                        value="Business" tabindex="11" style="opacity: 0;"></span>
                                            </div>
                                            <label class="choice" style="font-size: 1.5em;">A
                                                business</label>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div style="margin-top: 4em;">
                            <%if (errors.length> 0) { %> <% errors.forEach(error=> { %>
                                    <blockquote class="quote_orange">
                                        <p>
                                            <%- error.msg %>
                                        </p>
                                    </blockquote>
                                    <% }) %>
                                        <% } %>

                                            <%if (errorMessage) { %>
                                                <blockquote class="quote_orange">
                                                    <p>
                                                        <%- errorMessage %>
                                                    </p>
                                                </blockquote>
                                                <% } %>


                                                    <%if (successMessage) { %>
                                                        <blockquote class="quote_green">
                                                            <p>
                                                                <%- successMessage %>
                                                            </p>
                                                        </blockquote>
                                                        <% } %>
                        </div>
                        <div class="grid_12 full_block" style="display: none;" id="individual_onboarding">
                            <form
                                action="<% if (user) { %>/onboarding/user/edit/<%= user._id %><% } else { %>/onboarding/user/add<% } %>"
                                method="POST" class="form_container left_label">

                                <input type="hidden" name="role" value="Subscriber">
                                <div class="widget_wrap">
                                    <div class="widget_top">
                                        <span class="h_icon list"></span>
                                        <h6>Individual Onboarding</h6>
                                    </div>
                                    <div class="widget_content">
                                        <h3>Personal Information</h3>

                                        <input type="hidden" name="adminId" value="<%= admin.user_id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                        <ul>
                                            <li>
                                                <fieldset>
                                                    <legend>Personal Information
                                                    </legend>
                                                    <ul>
                                                        <li>
                                                            <div class="form_grid_12">
                                                                <label class="field_title">Name</label>
                                                                <div class="form_input">
                                                                    <div class="form_grid_4 alpha">
                                                                        <input name="firstName" type="text"
                                                                            value="<%= userInput.firstName ? userInput.firstName : (user ? user.firstName : '') %>"
                                                                            required />
                                                                        <span class=" label_intro">First
                                                                            Name</span>
                                                                    </div>
                                                                    <div class="form_grid_4 ">
                                                                        <input name="middleName"
                                                                            value="<%= userInput.middleName ? userInput.middleName : (user ? user.middleName : '') %>"
                                                                            type="text" />
                                                                        <span class=" label_intro">Middle
                                                                            Name</span>
                                                                    </div>
                                                                    <div class="form_grid_4 ">
                                                                        <input name="lastName"
                                                                            value="<%= userInput.lastName ? userInput.lastName : (user ? user.lastName : '') %>"
                                                                            type="text" required />
                                                                        <span class=" label_intro">Last
                                                                            Name</span>
                                                                    </div>
                                                                    <span class="clear"></span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form_grid_12 multiline">
                                                                <label class="field_title">Contact</label>
                                                                <div class="form_input">
                                                                    <div class="form_grid_6 alpha">
                                                                        <input name="phoneNumber"
                                                                            value="<%= userInput.phoneNumber ? userInput.phoneNumber : (user ? user.phoneNumber : '') %>"
                                                                            type="text" required />
                                                                        <span class=" label_intro">Phone
                                                                            Number</span>
                                                                    </div>
                                                                    <div class="form_grid_6">
                                                                        <input name="email"
                                                                            value="<%= userInput.email ? userInput.email : (user ? user.email : '') %>"
                                                                            type="email" required />
                                                                        <span class=" label_intro">Email</span>
                                                                    </div>
                                                                    <span class="clear"></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form_grid_12 multiline">
                                                                <label class="field_title">Address</label>

                                                                <div class="form_input">

                                                                    <div class="form_grid_6 ">
                                                                        <select name="region" id="region"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="" selected disabled>Select
                                                                                Region</option>
                                                                            <% regions.forEach(reg=> { %>
                                                                                <option value="<%= reg.name %>"
                                                                                    <%=reg.name===userInput.region
                                                                                    ? 'selected' : '' %> >
                                                                                    <%= reg.name %>
                                                                                </option>
                                                                                <% }); %>
                                                                        </select>

                                                                        <span class=" label_intro">Region</span>
                                                                    </div>

                                                                    <!-- Other select inputs hidden by default -->
                                                                    <div class="form_grid_6" id="districtSelect">
                                                                        <select name="district" id="district"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="">Select District</option>
                                                                        </select>
                                                                        <span class="label_intro">District</span>
                                                                    </div>

                                                                    <div class="form_grid_6" id="assemblySelect"
                                                                        style="margin-top: 2em;">
                                                                        <!-- Assembly select input -->
                                                                        <select name="assembly" id="assembly"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="">Select Assembly</option>
                                                                        </select>
                                                                        <span class=" label_intro">Assembly</span>
                                                                    </div>

                                                                    <div class="form_grid_6 alpha"
                                                                        style="margin-top: 2em;">
                                                                        <input name="city"
                                                                            value="<%= userInput.city ? userInput.city : (user ? user.city : '') %>"
                                                                            type="text" required />
                                                                        <span class=" label_intro">City</span>
                                                                    </div>

                                                                    <span class="clear"></span>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li>
                                                            <div class="form_grid_12">
                                                                <label class="field_title">Select
                                                                    prefered payment
                                                                    option</label>
                                                                <div class="form_input">
                                                                    <span>
                                                                        <div class="radio">
                                                                            <span class="checked"><input
                                                                                    name="paymentMode" class="radio"
                                                                                    type="radio" value="Mobile Money"
                                                                                    tabindex="10" style="opacity: 0;"
                                                                                    checked></span>
                                                                        </div>
                                                                        <label class="choice">Mobile
                                                                            Money</label>
                                                                    </span><span>
                                                                        <div class="radio">
                                                                            <span><input name="paymentMode"
                                                                                    class="radio" type="radio"
                                                                                    value="Card" tabindex="11"
                                                                                    style="opacity: 0;"></span>
                                                                        </div>
                                                                        <label class="choice">Card</label>
                                                                    </span><span>
                                                                        <div class="radio">
                                                                            <span><input name="paymentMode"
                                                                                    class="radio" type="radio"
                                                                                    value="Cash" tabindex="12"
                                                                                    style="opacity: 0;"></span>
                                                                        </div>
                                                                        <label class="choice">Cash</label>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>




                                                    </ul>
                                                </fieldset>
                                            </li>

                                            <li>
                                                <fieldset>
                                                    <legend>Identification</legend>
                                                    <div class="form_grid_12 multiline">
                                                        <label class="field_title">Identification</label>
                                                        <div class="form_input">
                                                            <div class="form_grid_4 alpha">
                                                                <select name="idType" id="idType" class="form-control"
                                                                    style="height: 29px;" required>
                                                                    <option value="">
                                                                        Select
                                                                        ID Type
                                                                    </option>
                                                                    <option value="Ghana Card"
                                                                        <%=user.idType==='Ghana Card' ? 'selected' : ''
                                                                        %>
                                                                        >Ghana
                                                                        Card
                                                                    </option>
                                                                    <option value="Passport"
                                                                        <%=user.idType==='APassport' ? 'selected' : ''
                                                                        %>
                                                                        >Passport
                                                                    </option>


                                                                </select>
                                                                <span class=" label_intro">ID
                                                                    Type</span>
                                                            </div>
                                                            <div class="form_grid_4">
                                                                <input name="idNumber"
                                                                    value="<%= userInput.idNumber ? userInput.idNumber : (user ? user.idNumber : '') %>"
                                                                    type="text" required />
                                                                <span class=" label_intro">ID
                                                                    Number</span>
                                                            </div>
                                                            <div class="form_grid_4">
                                                                <input style="height: 28px;" class="form-control"
                                                                    name="idExpiryDate"
                                                                    value="<%= userInput.idExpiryDate ? userInput.idExpiryDate : (user ? user.idExpiryDate : '') %>"
                                                                    type="date" required />
                                                                <span class=" label_intro">Expiry</span>
                                                            </div>
                                                            <span class="clear"></span>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </li>

                                            <li>
                                                <fieldset>
                                                    <legend>Location</legend>
                                                    <div class="form_grid_12 multiline">
                                                        <label class="field_title">Location</label>
                                                        <div class="form_grid_12">
                                                            <div class="form_input">
                                                                <div class=" form_grid_9 alpha">
                                                                    <div class="form_input">
                                                                        <div class="form_grid_12 alpha">
                                                                            <input id="places-search" type="text"
                                                                                class="form-control"
                                                                                placeholder="Search for a location">
                                                                            <input type="hidden" name="hiddenLocation[]"
                                                                                class="hiddenLocation">

                                                                            <span class=" label_intro">Location</span>
                                                                        </div>
                                                                    </div>
                                                                    <span class="clear"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </fieldset>
                                            </li>
                                        </ul>

                                        <ul>
                                            <li>
                                                <div class="form_grid_12">
                                                    <div class="form_input">
                                                        <button type="submit" class="btn_small btn_blue">
                                                            <% if (user) { %>
                                                                <span>Edit</span>
                                                                <% } else{ %>
                                                                    <span>Submit</span>
                                                                    <% } %>
                                                        </button>
                                                        <button type="reset"
                                                            class="btn_small btn_orange"><span>Reset</span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="grid_12 full_block" style="display: none;" id="business_onboarding">
                            <form
                                action="<% if (user) { %>/onboarding/business/edit/<%= user._id %><% } else { %>/onboarding/business/add<% } %>"
                                method="POST" class="form_container left_label">

                                <input type="hidden" name="role" value="Business">
                                <div class="widget_wrap">
                                    <div class="widget_top">
                                        <span class="h_icon list"></span>
                                        <h6>Business Onboarding</h6>
                                    </div>
                                    <div class="widget_content">
                                        <h3>Business Information</h3>

                                        <input type="hidden" name="adminId" value="<%= admin.user_id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                        <ul>
                                            <li>
                                                <fieldset>
                                                    <legend>Business Information
                                                    </legend>
                                                    <ul>
                                                        <li>
                                                            <div class="form_grid_12">
                                                                <label class="field_title">Name</label>
                                                                <div class="form_input">
                                                                    <div class="form_grid_12 alpha">
                                                                        <input name="businessName" type="text"
                                                                            value="<%= userInput.businessName ? userInput.businessName : (user ? user.businessName : '') %>"
                                                                            required />
                                                                        <span class=" label_intro">Business Name</span>
                                                                    </div>
                                                                    <span class="clear"></span>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form_grid_12 multiline">
                                                                <label class="field_title">Contact</label>
                                                                <div class="form_input">
                                                                    <div class="form_grid_6 alpha">
                                                                        <input name="phoneNumber"
                                                                            value="<%= userInput.phoneNumber ? userInput.phoneNumber : (user ? user.phoneNumber : '') %>"
                                                                            type="text" required />
                                                                        <span class=" label_intro">Phone
                                                                            Number</span>
                                                                    </div>
                                                                    <div class="form_grid_6">
                                                                        <input name="email"
                                                                            value="<%= userInput.email ? userInput.email : (user ? user.email : '') %>"
                                                                            type="email" required />
                                                                        <span class=" label_intro">Email</span>
                                                                    </div>
                                                                    <span class="clear"></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form_grid_12 multiline">
                                                                <label class="field_title">Address</label>

                                                                <div class="form_input">

                                                                    <div class="form_grid_6 ">
                                                                        <select name="region" id="_region"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="" selected disabled>Select
                                                                                Region</option>
                                                                            <% regions.forEach(reg=> { %>
                                                                                <option value="<%= reg.name %>"
                                                                                    <%=reg.name===userInput.region
                                                                                    ? 'selected' : '' %> >
                                                                                    <%= reg.name %>
                                                                                </option>
                                                                                <% }); %>
                                                                        </select>

                                                                        <span class=" label_intro">Region</span>
                                                                    </div>

                                                                    <!-- Other select inputs hidden by default -->
                                                                    <div class="form_grid_6" id="_districtSelect">
                                                                        <select name="district" id="_district"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="">Select District</option>
                                                                        </select>
                                                                        <span class="label_intro">District</span>
                                                                    </div>

                                                                    <div class="form_grid_6" id="_assemblySelect"
                                                                        style="margin-top: 2em;">
                                                                        <!-- Assembly select input -->
                                                                        <select name="assembly" id="_assembly"
                                                                            class="form-control" style="height: 29px;"
                                                                            required>
                                                                            <option value="">Select Assembly</option>
                                                                        </select>
                                                                        <span class=" label_intro">Assembly</span>
                                                                    </div>

                                                                    <div class="form_grid_6 alpha"
                                                                        style="margin-top: 2em;">
                                                                        <input name="city"
                                                                            value="<%= userInput.city ? userInput.city : (user ? user.city : '') %>"
                                                                            type="text" required />
                                                                        <span class=" label_intro">City</span>
                                                                    </div>

                                                                    <span class="clear"></span>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li>
                                                            <div class="form_grid_12">
                                                                <label class="field_title">Select
                                                                    prefered payment
                                                                    option</label>
                                                                <div class="form_input">
                                                                    <span>
                                                                        <div class="radio">
                                                                            <span class="checked"><input
                                                                                    name="paymentMode" class="radio"
                                                                                    type="radio" value="Mobile Money"
                                                                                    tabindex="10" style="opacity: 0;"
                                                                                    checked></span>
                                                                        </div>
                                                                        <label class="choice">Mobile
                                                                            Money</label>
                                                                    </span><span>
                                                                        <div class="radio">
                                                                            <span><input name="paymentMode"
                                                                                    class="radio" type="radio"
                                                                                    value="Card" tabindex="11"
                                                                                    style="opacity: 0;"></span>
                                                                        </div>
                                                                        <label class="choice">Card</label>
                                                                    </span><span>
                                                                        <div class="radio">
                                                                            <span><input name="paymentMode"
                                                                                    class="radio" type="radio"
                                                                                    value="Cash" tabindex="12"
                                                                                    style="opacity: 0;"></span>
                                                                        </div>
                                                                        <label class="choice">Cash</label>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>




                                                    </ul>
                                                </fieldset>
                                            </li>

                                            <li>
                                                <fieldset>
                                                    <legend>Certificate on Incorporation</legend>
                                                    <div class="form_grid_12 multiline">
                                                        <label class="field_title">Certificate</label>
                                                        <div class="form_input">
                                                            <div class="form_grid_6 alpha">
                                                                <input name="certificateOfIncorporation" type="file" />
                                                                <span class=" label_intro">Certificate of
                                                                    Incorpration</span>
                                                            </div>
                                                            <div class="form_grid_6">
                                                                <input name="certificateOfCommenseBusiness"
                                                                    type="file" />
                                                                <span class=" label_intro">Certificate to Commence
                                                                    Business </span>
                                                            </div>

                                                            <span class="clear"></span>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </li>

                                            <li>
                                                <fieldset>
                                                    <legend>Location</legend>
                                                    <div class="form_grid_12">
                                                        <div class="form_input">
                                                            <div class=" form_grid_9 alpha">
                                                                <div class="form_input">
                                                                    <div class="form_grid_12 alpha">
                                                                        <input id="places-search" type="text"
                                                                            class="form-control"
                                                                            placeholder="Search for a location">
                                                                        <input type="hidden" name="hiddenLocation[]"
                                                                            class="hiddenLocation">

                                                                        <span class=" label_intro">Location</span>
                                                                    </div>
                                                                </div>
                                                                <span class="clear"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </li>
                                            <li>
                                                <div class="form_grid_12">
                                                    <label class="field_title">Contact Person 1</label>
                                                    <div class="form_input">
                                                        <div class="form_grid_4 alpha">
                                                            <input name="c1_fullname" type="text"
                                                                value="<%= userInput.c1_fullname ? userInput.c1_fullname : (user ? user.c1_fullname : '') %>" />
                                                            <span class=" label_intro">Full
                                                                Name</span>
                                                        </div>
                                                        <div class="form_grid_4 ">
                                                            <input name="c1_phoneNumber"
                                                                value="<%= userInput.c1_phoneNumber ? userInput.c1_phoneNumber : (user ? user.c1_phoneNumber : '') %>"
                                                                type="text" />
                                                            <span class=" label_intro">Phone Number
                                                            </span>
                                                        </div>
                                                        <div class="form_grid_4 ">
                                                            <input name="c1_email"
                                                                value="<%= userInput.c1_email ? userInput.c1_email : (user ? user.c1_email : '') %>"
                                                                type="email" required />
                                                            <span class=" label_intro">Email</span>
                                                        </div>
                                                        <span class="clear"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form_grid_12">
                                                    <label class="field_title">Contact Person 2</label>
                                                    <div class="form_input">
                                                        <div class="form_grid_4 alpha">
                                                            <input name="c2_fullname" type="text"
                                                                value="<%= userInput.c2_fullname ? userInput.c2_fullname : (user ? user.c2_fullname : '') %>" />
                                                            <span class=" label_intro">Full
                                                                Name</span>
                                                        </div>
                                                        <div class="form_grid_4 ">
                                                            <input name="c2_phoneNumber"
                                                                value="<%= userInput.c2_phoneNumber ? userInput.c2_phoneNumber : (user ? user.c2_phoneNumber : '') %>"
                                                                type="text" />
                                                            <span class=" label_intro">Phone Number
                                                            </span>
                                                        </div>
                                                        <div class="form_grid_4 ">
                                                            <input name="c2_email"
                                                                value="<%= userInput.c2_email ? userInput.c2_email : (user ? user.c2_email : '') %>"
                                                                type="email" required />
                                                            <span class=" label_intro">Email
                                                            </span>
                                                        </div>
                                                        <span class="clear"></span>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>

                                        <ul>
                                            <li>
                                                <div class="form_grid_12">
                                                    <div class="form_input">
                                                        <button type="submit"
                                                            class="btn_small btn_blue"><span>Submit</span></button>
                                                        <button type="reset"
                                                            class="btn_small btn_orange"><span>Reset</span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <span class="clear"></span>
                </div>


        </div>
    </body>


    <script>
        // Get the radio buttons
        const individualRadio = document.querySelector('input[value="Individual"]');
        const businessRadio = document.querySelector('input[value="Business"]');
        const individualDiv = document.getElementById('individual_onboarding');
        const businessDiv = document.getElementById('business_onboarding');

        // Add event listeners to the radio buttons
        individualRadio.addEventListener('change', function () {
            // Show the individual onboarding div when Individual is selected
            if (this.checked) {
                individualDiv.style.display = 'block';
                businessDiv.style.display = 'hidden';
            }
        });

        businessRadio.addEventListener('change', function () {
            // Hide the individual onboarding div when Business is selected
            if (this.checked) {
                individualDiv.style.display = 'none';
                businessDiv.style.display = 'block';
            }
        });


    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const regionSelect = document.getElementById('region');
            const districtSelect = document.getElementById('district');
            // Add event listener to region select input
            regionSelect.addEventListener('change', function () {
                const selectedRegion = this.value;
                // Make AJAX request to fetch districts based on the selected region
                fetch(`/select-districts?region=${selectedRegion}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        districtSelect.innerHTML = '<option value="">Select District</option>';
                        // Populate district select input with fetched districts
                        data.forEach(district => {
                            const option = document.createElement('option');
                            option.value = district.name;
                            option.textContent = district.name;
                            districtSelect.appendChild(option);
                        });
                        // Show district select input
                        districtSelect.style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            });

            const districtSelect_ = document.getElementById('district');
            const assemblySelect = document.getElementById('assembly');

            districtSelect_.addEventListener('change', function () {
                const selectedDistrict = this.value;
                // Make AJAX request to fetch districts based on the selected region
                fetch(`/select-assemblies?district=${selectedDistrict}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        assemblySelect.innerHTML = '<option value="">Select Assembly</option>';
                        // Populate district select input with fetched assembly
                        data.forEach(assembly => {
                            const option = document.createElement('option');
                            option.value = assembly.name;
                            option.textContent = assembly.name;
                            assemblySelect.appendChild(option);
                        });
                        // Show district select input
                        assemblySelect.style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            });

        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const regionSelect = document.getElementById('_region');
            const _districtSelect = document.getElementById('_district');
            // Add event listener to region select input
            regionSelect.addEventListener('change', function () {
                const selectedRegion = this.value;
                // Make AJAX request to fetch districts based on the selected region
                fetch(`/select-districts?region=${selectedRegion}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        _districtSelect.innerHTML = '<option value="">Select District</option>';
                        // Populate district select input with fetched districts
                        data.forEach(district => {
                            const option = document.createElement('option');
                            option.value = district.name;
                            option.textContent = district.name;
                            _districtSelect.appendChild(option);
                        });
                        // Show district select input
                        _districtSelect.style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            });

            const districtSelect1 = document.getElementById('_district');
            const _assemblySelect = document.getElementById('_assembly');

            districtSelect1.addEventListener('change', function () {
                const selectedDistrict = this.value;
                // Make AJAX request to fetch districts based on the selected region
                fetch(`/select-assemblies?district=${selectedDistrict}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear previous options
                        _assemblySelect.innerHTML = '<option value="">Select Assembly</option>';
                        // Populate district select input with fetched assembly
                        data.forEach(assembly => {
                            const option = document.createElement('option');
                            option.value = assembly.name;
                            option.textContent = assembly.name;
                            _assemblySelect.appendChild(option);
                        });
                        // Show district select input
                        _assemblySelect.style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching districts:', error));
            });

        });
    </script>
    <script>
        function initMap() {
            // Function to initialize autocomplete for a given input element
            function initAutocomplete(input) {
                var autocomplete = new google.maps.places.Autocomplete(input);

                autocomplete.addListener('place_changed', function () {
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        console.log("Place not found!");
                        return;
                    }

                    var location = place.geometry.location;
                    var lat = location.lat();
                    var lng = location.lng();
                    var address = place.name + ', ' + place.formatted_address;

                    const latLngAddress = {
                        lat: lat,
                        lng: lng,
                        address: address
                    };

                    // Update hidden location input value
                    input.nextElementSibling.value = JSON.stringify(latLngAddress);

                    console.log("Selected Location: " + lat + ", " + lng);
                    console.log("Address: " + JSON.stringify(address));
                });
            }

            // Initialize autocomplete for the initial input field
            initAutocomplete(document.getElementById('places-search'));


        }
    </script>



    </html>