<%- include('../../includes/admin/top-with-style.ejs') %>
    </head>

    <body id="theme-default" class="full_block">


        <div id="left_bar">
            <%- include('../../includes/admin/side-menu.ejs') %>
        </div>

        <div id="container">
            <%- include('../../includes/admin/header-banner.ejs') %>
                <div class="page_title">
                    <span class="title_icon"><span class="users"></span></span>
                    <h3>Onboarding</h3>
                    <div class="top_search">
                        <form action="#" method="post">
                            <ul id="search_box">
                                <div class="btn_30_dark">
                                    <a href="../onboarding/user/add"><span class="icon add_co"></span><span
                                            class="btn_link">Onboard New
                                            User</span></a>
                                </div>
                            </ul>
                        </form>
                    </div>
                </div>


                <div id="content">
                    <div class="grid_container">

                        <div class="widget_wrap">
                            <div class="widget_top">
                                <div id="widget_tab">
                                    <ul>
                                        <li><a href="#subscriber" class="">Subscribers</a></li>
                                        <li><a href="#business">Businesses</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget_content">

                                <div id="subscriber" style="display: none;">
                                    <div class="grid_12">

                                        <%if (errorMessage) { %>
                                            <blockquote class="quote_orange">
                                                <p>
                                                    <%- errorMessage %>
                                                </p>
                                            </blockquote>
                                            <% } %>

                                        <%if (successMessage) { %>
                                            <blockquote class="quote_green">
                                                <p>
                                                    <%- successMessage %>
                                                </p>
                                            </blockquote>
                                            <% } %>
                                        <div class="widget_wrap">
                                            <div class="widget_top">
                                                <span class="h_icon blocks_images"></span>
                                                <h6>Onboarded Subscribers</h6>
                                            </div>
                                            <div class="widget_content">

                                                <table class="display data_tbl">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th>
                                                                First Name
                                                            </th>
                                                            <th>
                                                                Middle Name
                                                            </th>
                                                            <th>
                                                                Last Name
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Phone Number
                                                            </th>
                                                            <th>
                                                                City
                                                            </th>
                                                            <th>
                                                                Region
                                                            </th>
                                                            <th>
                                                                Type
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% users.forEach((item, index)=> { %>
                                                            <% if(item.role==='Subscriber' ){ %>
                                                                <tr>
                                                                   
                                                                    <td>
                                                                        <%= item.firstName %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.middleName %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.lastName %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.email %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.phoneNumber %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.city %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.region %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.role %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <span
                                                                            class="badge_style <%= item.status === 'Active' ? 'b_done' : 'b_suspend' %>"
                                                                            style="padding-bottom: 1em;">
                                                                            <%= item.status==='Active' ? 'Active'
                                                                                : 'Inactive' %>
                                                                        </span>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= shortData(item.createdAt) %>
                                                                    </td>
                                                                    <td class="center">

                                                                        <span>
                                                                            <a class="action-icons c-approve"
                                                                                href="../onboarding/user/<%= item._id %>"
                                                                                original-title="View">View</a>

                                                                            <a href="../onboarding/user/edit/<%= item._id %>"
                                                                                class="action-icons c-edit" href="#"
                                                                                title="Edit">Edit</a></span><span>
                                                                            <a href="" class="action-icons c-delete"
                                                                                href="#" title="Delete"
                                                                                onclick="confirmDeletion(this)">Delete</a></span><span>
                                                                         
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <%} %>
                                                                    <% }) %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                          
                                                            <th>
                                                                First Name
                                                            </th>
                                                            <th>
                                                                Middle Name
                                                            </th>
                                                            <th>
                                                                Last Name
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Phone Number
                                                            </th>
                                                            <th>
                                                                City
                                                            </th>
                                                            <th>
                                                                Region
                                                            </th>
                                                            <th>
                                                                Type
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="business" style="display: none;">
                                    <div class="grid_12">
                                        <div class="widget_wrap">
                                            <div class="widget_top">
                                                <span class="h_icon blocks_images"></span>
                                                <h6>Onboarded Businesses</h6>
                                            </div>
                                            <div class="widget_content">

                                                <table class="display data_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                Business Name
                                                            </th>
                                                            <th>
                                                                Contact 1 Fullname
                                                            </th>
                                                            <th>
                                                                Contact 1 Number
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Phone Number
                                                            </th>
                                                            <th>
                                                                City
                                                            </th>
                                                            <th>
                                                                Region
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% users.forEach((item, index)=> { %>
                                                            <% if(item.role==='Business' ){ %>
                                                                <tr>
                                                                    <td>
                                                                        <p>
                                                                            <%= index + 1 %>
                                                                        </p>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.businessName %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.c1_fullname %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.c1_phoneNumber %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.email %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.phoneNumber %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.city %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= item.region %>
                                                                    </td>
                                                                    <td class="center">
                                                                        <span
                                                                            class="badge_style <%= item.status === 'Active' ? 'b_done' : 'b_suspend' %>"
                                                                            style="padding-bottom: 1em;">
                                                                            <%= item.status==='Active' ? 'Active'
                                                                                : 'Inactive' %>
                                                                        </span>
                                                                    </td>
                                                                    <td class="center">
                                                                        <%= shortData(item.createdAt) %>
                                                                    </td>
                                                                    <td class="center">

                                                                        <span>
                                                                            <a class="action-icons c-approve"
                                                                                href="../onboarding/user/<%= item.userId %>"
                                                                                original-title="View">View</a>

                                                                            <a href="../onboarding/user/edit/<%= item.userId %>"
                                                                                class="action-icons c-edit" href="#"
                                                                                title="Edit">Edit</a></span><span>
                                                                            <a href="" class="action-icons c-delete"
                                                                                href="#" title="Delete"
                                                                                onclick="confirmDeletion(this)">Delete</a></span><span>
                                                                        
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <%} %>
                                                                    <% }) %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                Business Name
                                                            </th>
                                                            <th>
                                                                Contact 1 Fullname
                                                            </th>
                                                            <th>
                                                                Contact 1 Number
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Phone Number
                                                            </th>
                                                            <th>
                                                                City
                                                            </th>
                                                            <th>
                                                                Region
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <span class="clear"></span>
                </div>

        </div>
    </body>


    </html>